<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   	 <title>The Old County ~ Newsletter</title>
    </head>
    <body bgcolor="#000000">
        <table width="560" align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                	<td width="560" align="right" bgcolor="#f0eee7"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right" style="font-family: Helvetica, Trebuchet MS,arial,serif; font-size: 12px; color: #989691;">Having troube reading this email? <a href="#" style="font-family: Helvetica, Trebuchet MS,arial,serif; font-size: 12px; color: #989691;">View it with your browser</a></td>
    <td width="15"><img src="${user.imgPath}/spacer.gif" width="15" height="24" style="display: block;"></td>
  </tr>
</table>
</td>
                </tr>
                <tr>
                    <td width="560"><a href="#" title="The Old County"><img alt="The Old County" src="${user.imgPath}/header.jpg" border="0" width="560" height="339" style="display: block;"></a></td>
              </tr>
                <tr>
                    <td bgcolor="#f0eee7">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                            <td valign="top" width="100%">

 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                <td height="35"><img src="${user.imgPath}/darkslice1.jpg" width="298" height="35" style="display: block;"></td>
                                </tr>
                                <tr>
                                <td height="20"><img src="${user.imgPath}/spacer.gif" width="1" height="20" style="display: block;"></td>
                              </tr>
                                <tr>
                                <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                    <td width="20"><img src="${user.imgPath}/spacer.gif" width="20" height="1" style="display: block;"></td>
                                        <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><a style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 32px; color: #353430; text-decoration:none;" href="#" title="name of link">Reset Password</a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="${user.imgPath}/spacer.gif" width="1" height="20" style="display: block;"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 15px; color: #353430;">We have generated a new password for you. To login again please use the following credentials
<br><br>FORGOT PASSWORD<br>
${user.imgPath}/member2.jpg
<br>
<b>Email Address</b>: ${user.emailAddress}<br>
<b>Password</b> : ${user.password}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><img src="${user.imgPath}/spacer.gif" width="1" height="20" style="display: block;"></td>
                                            </tr>                                        </table>
                                        </td>
                                    <td width="23"><img src="${user.imgPath}/spacer.gif" width="23" height="1" style="display: block;"></td>
                                    </tr>
                                </table></td>
                                </tr>
                            </table>

                             </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#f0eee7"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="15" bgcolor="#CCCCCC"><img src="${user.imgPath}/grunge1.jpg" width="560" height="26" style="display: block;"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" width="23"><img src="${user.imgPath}/grunge2.jpg" width="23" height="310" style="display: block;"></td>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="border: 1px solid #c7c4bd;"><a href="#" title="Read More"><img alt="Read More" src="${user.imgPath}/video1.jpg" width="513" height="288" border="0" style="display: block;"></a></td>
  </tr>
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="5" style="display: block;"></td>
  </tr>
</table>
</td>
        <td valign="top" width="23"><img src="${user.imgPath}/grunge3.jpg" width="23" height="287" style="display: block;"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="5" style="display: block;"></td>
  </tr>
</table>
</td>
                </tr>
                <tr>
                    <td bgcolor="#f0eee7"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="23"><img src="${user.imgPath}/spacer.gif" width="23" height="1" style="display: block;"></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 28px; color: #353430; text-decoration:none;" href="#" title="name of link">The dating site that is visual</a></td>
      </tr>
      <tr>
        <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 28px; color: #353430;">~</td>
      </tr>
      <tr>
        <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 15px; color: #8f8c85;">Pellentesqu loar asd  as kas idijaisj iajsi dioajsid o ioewjr iioji osisd iofisdf dsiofiods. cumlsdmf dskfisd fsdokop sdpf dsfo opds idsfi9dsfop sf sdoppdsfipods fpsodf sdfisdpof sdipofidsopfp sdopfds fpoidsifpods pofipdosif dsipofiop iopdfiposdifposopfisdfopiopsdfiopsdofp</td>
      </tr>
      <tr>
        <td><img src="${user.imgPath}/spacer.gif" width="1" height="15" style="display: block;"></td>
      </tr>
    </table>
    </td>
    <td width="23"><img src="${user.imgPath}/spacer.gif" width="23" height="1" style="display: block;"></td>
  </tr>
</table>
</td>
                </tr>
                <tr>
                    <td bgcolor="#bcbab1"><img src="${user.imgPath}/spacer.gif" width="1" height="1" style="display: block;"></td>
                </tr>
              <tr>
                <td bgcolor="#f0eee7"><img src="${user.imgPath}/spacer.gif" width="1" height="5" style="display: block;"></td>
              </tr>
                <tr>
                    <td bgcolor="#f0eee7"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="23"><img src="${user.imgPath}/spacer.gif" width="23" height="1" style="display: block;"></td>
    <td align="right"><a href="#" title="name of link"><img alt="Read More" src="${user.imgPath}/readmore.jpg" border="0" width="77" height="21" style="display: block;"></a></td>
    <td width="23"><img src="${user.imgPath}/spacer.gif" width="23" height="1" style="display: block;"></td>
  </tr>
</table>
</td>
                </tr>
                                <tr>
                    <td height="5" bgcolor="#f0eee7"><img src="${user.imgPath}/spacer.gif" width="1" height="5" style="display: block;"></td>
                </tr>
                <tr>
                    <td><img src="${user.imgPath}/emblem1.jpg" width="561" height="30" style="display: block;"></td>
              </tr>
                <tr>
                    <td bgcolor="#f0eee7"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="23"><img src="${user.imgPath}/spacer.gif" width="23" height="1" style="display: block;"></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="105"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img alt="The Old County" src="${user.imgPath}/member1.jpg" border="0" width="105" height="105" style="display: block;"></td>
  </tr>
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Riverside, 28</td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Baltimore, USA</td>
  </tr>
</table>
</td>
    <td width="29"><img src="${user.imgPath}/spacer.gif" width="29" height="1" style="display: block;"></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="105"><img alt="The Old County" src="${user.imgPath}/member2.jpg" border="0" width="105" height="105" style="display: block;"></td>
  </tr>
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Bluegem, 19</td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Washington, USA</td>
  </tr>
</table></td>
    <td width="29"><img src="${user.imgPath}/spacer.gif" width="29" height="1" style="display: block;"></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="105"><img alt="The Old County" src="${user.imgPath}/member3.jpg" border="0" width="105" height="105" style="display: block;"></td>
  </tr>
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Candi, 22</td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Detroit, USA</td>
  </tr>
</table></td>
    <td width="29"><img src="${user.imgPath}/spacer.gif" width="29" height="1" style="display: block;"></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="105"><img alt="The Old County" src="${user.imgPath}/member4.jpg" border="0" width="105" height="105" style="display: block;"></td>
  </tr>
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Mitlon, 31</td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Baltimore, USA</td>
  </tr>
</table></td>
  </tr>
</table>
</td>
  </tr>

<tr>
	<td><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
</tr>

<tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="105"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img alt="The Old County" src="${user.imgPath}/member5.jpg" border="0" width="105" height="105" style="display: block;"></td>
  </tr>
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Riverside, 28</td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Baltimore, USA</td>
  </tr>
</table>
</td>
    <td width="29"><img src="${user.imgPath}/spacer.gif" width="29" height="1" style="display: block;"></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="105"><img alt="The Old County" src="${user.imgPath}/member6.jpg" border="0" width="105" height="105" style="display: block;"></td>
  </tr>
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Bluegem, 19</td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Washington, USA</td>
  </tr>
</table></td>
    <td width="29"><img src="${user.imgPath}/spacer.gif" width="29" height="1" style="display: block;"></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="105"><img alt="The Old County" src="${user.imgPath}/member7.jpg" border="0" width="105" height="105" style="display: block;"></td>
  </tr>
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Candi, 22</td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Detroit, USA</td>
  </tr>
</table></td>
    <td width="29"><img src="${user.imgPath}/spacer.gif" width="29" height="1" style="display: block;"></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="105"><img alt="The Old County" src="${user.imgPath}/member8.jpg" border="0" width="105" height="105" style="display: block;"></td>
  </tr>
  <tr>
    <td><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Mitlon, 31</td>
  </tr>
  <tr>
    <td style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 14px; color: #353430; text-decoration:none;">Baltimore, USA</td>
  </tr>
</table></td>
  </tr>
</table>
</td>
  </tr>

  <tr>
    <td width="23"><img src="${user.imgPath}/spacer.gif" width="1" height="23" style="display: block;"></td>
  </tr>
</table>
</td>
    <td width="23"><img src="${user.imgPath}/spacer.gif" width="23" height="1" style="display: block;"></td>
  </tr>
</table>

</td>
                </tr>
                <tr>
                    <td bgcolor="#f0eee7"><img src="${user.imgPath}/spacer.gif" width="1" height="15" style="display: block;"></td>
                </tr>

                <tr>
                    <td><a href="#" title="The Old County"><img alt="The Old County" src="${user.imgPath}/base.jpg" border="0" width="561" height="160" style="display: block;"></a></td>
              </tr>  				<tr>
              		<td bgcolor="#000000">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="32"><img src="${user.imgPath}/spacer.gif" width="32" height="1" style="display: block;"></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tr>
                    <td align="right" style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 15px; color: #e7e5de;">You have a project in mind, <a style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 15px; color: #e7e5de;" href="#">email us</a></td>
                </tr>
                <tr>
                    <td height="10"><img src="${user.imgPath}/spacer.gif" width="1" height="10" style="display: block;"></td>
                </tr>
                <tr>
                    <td align="right" style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 15px; color: #e7e5de;">Not interested anymore? <a style="font-family: Times New Roman, Trebuchet MS,arial,serif; font-size: 15px; color: #e7e5de;" href="#">Unsubscribe instantly</a></td>
                </tr>
                <tr>
                    <td height="15"><img src="${user.imgPath}/spacer.gif" width="1" height="15" style="display: block;"></td>
                </tr>
</table>
</td>
    <td width="32"><img src="${user.imgPath}/spacer.gif" width="32" height="1" style="display: block;"></td>
  </tr>
</table>
                    </td>
              	</tr>
             </tbody>
        </table>
    </body>
</html>
