
	/*ipad*/
	.ipad .wrap{
		width: 600px;	
	}
	
	.ipad .biodetails .wrapper{
		width: 385px;
		padding:5px;
	}
	
	/*
	.ipad .biodetails .biospec .piechart{
		width: 180px;
	}*/
	
	.ipad #tooltip .icons ul li{
		width: 65px;		
	}
	
	
	.ipad .biodetails .biospec{
		background: blue;
		width: 260px;
	}
	
	.ipad .biodetails .bioimg{
		width: 115px;
	}
	
	.ipad .bioimg .avatar img,
	.ipad .biodetails .bioimg .avatar{
		width:90px;
	}